@use "../../../styles/variables" as *;

.mediaSlot {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $color-neutral-100;
}

.media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
