@use "../../../styles/variables" as *;

.container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: $space-4;
  padding-right: $space-4;

  @media (min-width: $breakpoint-tablet) {
    padding-left: $space-8;
    padding-right: $space-8;
  }
}
